html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.board {
    height: 100%;
    width: 100%;
    margin-top: 45px;
    overflow-x: scroll;
}

#columns {
    height: 100%;
    width: 500px;
    white-space: nowrap;
}

.column {
    vertical-align: top;
    height: 100%;
    display: inline-block;
    width: 320px;
    padding: 10px 7px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    height: 200px;
    background: #F00;
    margin-bottom: 5px;
}

.card > .content > .extra {
    position: absolute;
    bottom: 1em;
}